.root {
  display: flex;
  padding: 100px;
  position: relative;
  align-items: center;
}

.child {
  margin: 40px;
  flex-direction: row;
  background-color: blue;
  padding: 30px;
  color: white;
}

.connector-simple {
  background-color: red;
  height: 50px;
  width: 100px;
}
